
$dark-green: #419F55;
$light-green: #BAF2C6;

$dark-blue: #41739F;
$medium-blue: #41889F;
$light-blue: #BAF2F0;

$dark-red: #aa0000;
$medium-red: #d40000;
$light-red: #ff8080;

$light-gray: #c8beb7;
$medium-gray: #6c5d53;
$dark-gray: #000;
$dark-gray-transparent: rgba(0, 0, 0, 0.1);

$base-background: #FFFFFF;

$border-color: $dark-red;
$link-color: $light-green;
$dark-link-color: $dark-green;
