.comic
  border: 1px solid $dark-accent-color
  border-radius: 5px
  background: $comic-background
  padding: 10px
  margin: 8px

.comic-content
  padding-bottom: 15px

  #post
    padding: 10px

.page-navigation
  color: $dark-accent-color
  font-weight: 500
  width: 100%
  text-align: center

.episode
  padding: 4px
  h3, h3 a
    font-size: 14px
    color: #8b7d7b

.comic h3
  font-family: 'Bangers', sans-serif
  color: $title-color
  text-shadow: -2px 1px $title-border-color, 1px 2px $title-border-color, 2px 1px $title-border-color, 1px -2px $title-border-color
 
  a  
    color: $title-color

.comic, .episode
  h3
    font-weight: 500
    a 
      text-decoration: none
      
.comics, #episodes
  font-size: 12px

.comics
  margin-bottom: 28px

#episodes
  padding:
    top: 10px
    bottom: 10px
  width: 100%
  border-top: 1px dashed $default-border-color

  .episode
    padding: 0

.comic-list  
  ul, ol
    list-style: none
    padding: 0

$shadow-size: 3px  
$border-color: #fff
$panel-background: rgba(0,0,0,.35)

.comic-panel 
  text-align: center
  padding: 10px  
  border-radius: $shadow-size
  border: $shadow-size * 3 solid $border-color
  box-shadow: rgba(0,0,0,.8) 0 2px $shadow-size * 2 inset, rgba(0, 0, 0, .55) 2px $shadow-size $shadow-size
  +box-sizing('content-box')
  background-color: $panel-background

#panels 
  margin: 0 auto
  width: 650px
 
  div 
    z-index: 11 
    img 
      width: 100%
      
#panels-paging 
  height: 25px
  margin-top: 45px

  a 
    border-radius: 3px
    background-color: $paging-background
    color: white 
    padding: 5px 
    margin-right: 5px
    &.current-slide 
      background-color: $current-panel-background