

.content {
	display: flex;
  margin: 50px auto;
  width: 100%;
  justify-content: center;

  .gallery {
		.bodyimg {
			display: block;
			margin: 8px;
			max-width: 500px;
			border: 1px solid $border-color;
			border-radius: 4px;
		}
	}

}

.promo-box {
    border: 1px solid $border-color;
    border-radius: 4px;

    .small {
      width: 25%;
    }

    .large{
      width: 80%;
    }
}

.promo-text {
  .small {

  }

  .large {

  }
}


nav {
  float: right;
	padding: 4px;
}

nav, .social {
  ul {
    list-style: none;
  }
  li {
	  display: inline-block;
	  padding: 10px;
  }
}

header {
	width: 100%;
	height: 46px;
	position: fixed;
	top: 0;
	left: 0;
	background-color:	$base-background;
	-webkit-box-shadow:0px 1px 1px $light-gray;
	-moz-box-shadow:0px 1px 1px $light-gray;
	box-shadow:0px 1px 1px $light-gray;
	z-index: 100;
	a {
		&:focus, &:hover {
				background-color: none;
		}
	}
}

footer {
	width: 100%;
	.social, .copyright {
		text-align: center;
		width: 100%;
	}
}

#logo{
	margin: 2px;
	float: left;
	width: 200px;
	height: 40px;
	display: block;

	img {
		height: 100%;
	}
}

#menu-icon {
	display: hidden;
	width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  menu-item {
		display:inline-block;
  }

  header {
		position: absolute;

  }

  nav ul, nav:active ul {

		display: none;
		position: absolute;
		padding: 20px;
		background: $base-background;
		border: 5px solid $border-color;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}

}

section {
	padding: 16px;
	min-height: 200px;
	margin: 0 auto;
	max-width: 600px;

	.section-items {
		width: 100%;
		margin: auto;

		.section-item {
			margin: 2px;
			min-width: 150px;
			min-height: 100px;
			max-width: 350px;
			// display: inline-block;

			.bodyimg {
					border: 1px solid $border-color;
					width: 120;
					// TODO crop height at a point
					// TODO add dropshadow?
			}
		}
	}

	h1 {
		margin-top: 45px;
		margin:auto;
		font-size: 3.5rem;
	}

	.icon {
	  font-size: 30px;
	  margin-top: 15px;
	  display: -moz-inline-stack;
	  display: inline-block;
	  zoom: 1;
		color: $dark-gray;
	}
}

section.products {
	min-height: 0px;
	height:0px;
	visibility: hidden;
}

section.portfolios {
	.section-items {
  	line-height: 0;
    -webkit-column-count: 5;
		-webkit-column-gap:   0px;
		-moz-column-count:    5;
		-moz-column-gap:      0px;
		column-count:         5;
		column-gap:           0px;

		.bodyimg {
			width: 100% !important;
			height: auto !important;
			border: 1px solid $border-color;
		}
   }
}

section.services {
	.section-items {
		flex-flow: row wrap;
		justify-content: space-evenly;
		display: flex;
	}

	.section-item {
		border: 1px solid $border-color;
		border-radius: 8px;
		text-align: center;
		box-shadow: 4px 4px 4px 0;
		min-width: 180px;
		max-width: 180px;
		min-height: 200px;

		h2 {
      font-size: 3.0rem;
			height: 55px;
			vertical-align: bottom;
			text-align: center;
	  }
	}

	padding-right: 30px;
}
