
.tags
  font:
    size: 11px
    style: italic
  color: $accent-font-color
  text-align: left

.section-header
  font-variant: small-caps
  font-weight: 800

.footer
  width: 100%
  text-align: center
  font-size: 12px
  line-height: 14px

  p 
    padding-top: 5px
  
.side-ad
  width: 310px
  height: 250px