<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>

      {{ partial "nav.html" .}}

<div class="content">
      <section id="{{.Title}}" class="section, {{lower .Title}}">
      <h1 itemprop="name">{{.Title}}</h1>

      <div class="section-items">

{{ $.Scratch.Set "section" (lower .Section) }}
{{ range .Data.Pages }}
  {{ .Render "summary"}}
{{ end }}

</div>
</div>

{{ if .Site.Params.footer.enable }}
  {{ partial "footer.html" .}}
{{ end }}

{{ partial "js.html" .}}
</body>
</html>
