<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>

      {{ partial "nav.html" .}}

{{ $.Scratch.Set "section" (lower .Section) }}
<div class="content">
  <div>
  <h1>{{ .Title }}</h1>
  <h3>{{ .Description}}</h3>
  <p>
  {{ .Content }}
  </p>
  {{ with .Params.otherimages }}
   <div class="gallery">
    {{ range $idx, $image := . }}
    <img src="/{{$.Scratch.Get "section"}}/{{$image}}.svg" itemprop="image"
      alt="{{ $image }}"
      class="bodyimg"
       />
    {{end}}
  </div>
  {{ end }}

</div>



{{ partial "disqus.html" .}}

</div>


{{ if .Site.Params.footer.enable }}
  {{ partial "footer.html" .}}
{{ end }}

{{ partial "js.html" .}}
</body>
</html>
