<div class="{{$.Scratch.Get "section"}}">
    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
    <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} </div>
  {{ .Summary }}
  <p>
  <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
</p>
</div>
