@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  color: #419F55; }
  a:focus, a:hover {
    background-color: #BAF2C6; }

.parallax {
  position: absolute;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -50; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  transform: translateZ(0); }

.parallax__layer--back {
  transform: translateZ(-1px); }

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d; }

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3); }

.parallax__layer--back {
  transform: translateZ(-1px) scale(2); }

.content {
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center; }
  .content .gallery .bodyimg {
    display: block;
    margin: 8px;
    max-width: 500px;
    border: 1px solid #aa0000;
    border-radius: 4px; }

.promo-box {
  border: 1px solid #aa0000;
  border-radius: 4px; }
  .promo-box .small {
    width: 25%; }
  .promo-box .large {
    width: 80%; }

nav {
  float: right;
  padding: 4px; }

nav ul, .social ul {
  list-style: none; }

nav li, .social li {
  display: inline-block;
  padding: 10px; }

header {
  width: 100%;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px #c8beb7;
  z-index: 100; }
  header a:focus, header a:hover {
    background-color: none; }

footer {
  width: 100%; }
  footer .social, footer .copyright {
    text-align: center;
    width: 100%; }

#logo {
  margin: 2px;
  float: left;
  width: 200px;
  height: 40px;
  display: block; }
  #logo img {
    height: 100%; }

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px; }

@media only screen and (max-width: 768px) {
  menu-item {
    display: inline-block; }
  header {
    position: absolute; }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #FFFFFF;
    border: 5px solid #aa0000;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px; }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0; }
  nav:hover ul {
    display: block; } }

section {
  padding: 16px;
  min-height: 200px;
  margin: 0 auto;
  max-width: 600px; }
  section .section-items {
    width: 100%;
    margin: auto; }
    section .section-items .section-item {
      margin: 2px;
      min-width: 150px;
      min-height: 100px;
      max-width: 350px; }
      section .section-items .section-item .bodyimg {
        border: 1px solid #aa0000;
        width: 120; }
  section h1 {
    margin-top: 45px;
    margin: auto;
    font-size: 3.5rem; }
  section .icon {
    font-size: 30px;
    margin-top: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    color: #000; }

section.products {
  min-height: 0px;
  height: 0px;
  visibility: hidden; }

section.portfolios .section-items {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  -moz-column-count: 5;
       column-count: 5;
  -moz-column-gap: 0px;
       column-gap: 0px; }
  section.portfolios .section-items .bodyimg {
    width: 100% !important;
    height: auto !important;
    border: 1px solid #aa0000; }

section.services {
  padding-right: 30px; }
  section.services .section-items {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    display: -ms-flexbox;
    display: flex; }
  section.services .section-item {
    border: 1px solid #aa0000;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 4px 4px 0;
    min-width: 180px;
    max-width: 180px;
    min-height: 200px; }
    section.services .section-item h2 {
      font-size: 3.0rem;
      height: 55px;
      vertical-align: bottom;
      text-align: center; }

body {
  margin: 0 auto; }

#body {
  margin: 45px auto; }
