<header role="banner">
    <a href="#" class="menu-item" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <i></i>
    </a>
    <a id="logo" href="index.html">
        <img src="/images/logo_bw.png" alt="{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}" class="img-responsive"
            border="0" />
    </a>

    <nav>
        <ul>
        {{ range $name, $taxonomy := .Site.Sections }}
        <li><a href="/#{{$taxonomy.Title}}">{{$taxonomy.Title}}</a></li>
        {{ end }}
        </ul>
    </nav>
</header>
